*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
IFT605TP2-Server/build/built-jar.properties
IFT605TP2-Server/build/classes/.netbeans_automatic_build
IFT605TP2-Server/build/classes/.netbeans_update_resources
IFT605TP2-Server/build/classes/policy/server.policy
IFT605TP2-Server/dist/README.TXT
IFT605TP2-Server/nbproject/private/config.properties
IFT605TP2-Server/nbproject/private/private.properties
IFT605TP2-Server/nbproject/private/private.xml
/IFT605TP2-Server/build/
/IFT605TP2-Server/dist/